<!--Little m model acts as a using statement for our model class
    Big Model represent the object we passed in, over in the controller

-->
@*Tommy Waalkes*@
@model Movie

<p>Id: @Model.Id</p>
<p>Title: @Model.Title</p>
<p>Genre: @Model.Genre</p>
<p>Run Time: @Model.Runtime</p>

