<h2>Search Movies by Title</h2>

<form asp-action="SearchResult" asp-controller="Home">
    <p>Title</p>
    <input type="text" name="Title"/>
    <input type="submit" value="Search by Title"/>
</form>