<form asp-action="Result" asp-controller="Home">
    <p>User Name</p>
    <input type="text" name="UserName"/>

    <p>Age</p>
    <input type="number" name="Age"/>

    <input type="submit"/>
</form>