<form asp-action="LookUpPerson" asp-controller="Home">
    <p>Look a starwars by ID</p>
    <p>Id:</p>
    <input type="number" min="1" max="82" name="id"/>

    <input type="submit" value="Look Up Person"/>
</form>