<!--By doing at model, I am saying that this view requires being given a login model-->
<!--This makes the model availiable to our view so we can do a number of different things, 

but most commonly we use to display the contents of our model-->
@model Login

<h2>Hello there @Model.Username</h2>