<div class="row">
    <div class="col-sm-8 border">
        TesttyBoi
    </div>
    <div class="col-sm-4 border">
        Testuedo Boy
    </div>
</div>

<div class="row">
    <div class="col-sm-3 border">
        Hello world
    </div>
    <div class="col-sm-3 border">
        Hello world
    </div>
    <div class="col-sm-3 border">
        Hello world
    </div>
    <div class="col-sm-3 border">
        Hello world
    </div>
</div>

<div class="card">
    <div class="card-body">
        <p>This is a cool card!</p>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Header
    </div>
    <div class="card-body">
        <p>This is a cool card!</p>
    </div>

    <div class="card-footer">
        Footer
    </div>
</div>

<!--<a class="navbar-brand fixed-top" asp-action="Index"><img width="25%" height="auto" src="~/1200px-Luigi_emblem.svg.png"/></a>-->

<a class="btn btn-primary" href="https://www.google.com">Google</a>
