@model Draws

@*@if(Model.cards[0].value == Model.cards[1].value){
    <h2>Draw!! Both players got the same value</h2>
}
else if
*@
<p>Player 1's Draw</p>

<img src="@Model.cards[0].image"/>


<p>Player 2's Draw</p>

<img src="@Model.cards[1].image"/>

<br/>
<br/>

<p>@Model.Winner</p>