<p>Select Item to update by Id</p>
<input  [(ngModel)]="index" id="index" type="number" min="0" max="existingItems.Length -1"/>
<button (click)="SelectItemToUpdate()">Select Item to update</button>

<p>Item</p>
<input type="text"  [(ngModel)]="itemToUpdate.item"  id="ItemU"/>

<p>Price</p>
<input type="text" [(ngModel)]="itemToUpdate.price" id="PriceU"/>

<p>Category</p>
<input type="text" [(ngModel)]="itemToUpdate.category" id="CategoryU"/>

<!--With ngmodel this isn't needed anymore-->
<!-- <button (click)="UpdateItem()">Update {{itemToUpdate.item}}</button> -->